<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/LC.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <title>Profile</title>
  </head>
  <body>
    <nav>
      <header>
        <img src="images/Let’s Chat.svg" alt="app-logo" />
        <div>
          <i class="bi bi-list" id="menu-bar"></i>
          <i class="bi bi-moon-fill" id="dark-btn"></i>
        </div>
      </header>
      <ul class="hide">
        <% if (user) { %>
        <li>
          <i class="bi bi-box-arrow-left"></i>
          <a href="/logout">Leave</a>
        </li>
        <% } else { %>
        <li>
          <i class="bi bi-box-arrow-in-right"></i>
          <a href="/login">Login</a>
        </li>
        <% } %>
        <li>
          <i class="bi bi-house"></i>
          <a href="/">Home</a>
        </li>
        <li>
          <i class="bi bi-person-circle"></i>
          <a href="/profile">User</a>
        </li>
      </ul>
    </nav>

    <script>
      const menu = document.getElementById("menu-bar");
      const ul = document.querySelector("ul");
      const darkBtn = document.getElementById("dark-btn");
      const body = document.querySelector("body");
      const defaultMode = localStorage.setItem("dark-mode", "off");

      menu.addEventListener("click", () => {
        if (ul.classList.contains("hide")) {
          ul.classList.remove("hide");
          ul.classList.add("show");
        } else {
          ul.classList.remove("show");
          ul.classList.add("hide");
        }
      });

      darkBtn.addEventListener("click", () => {
        if (localStorage.getItem("dark-mode") === "off") {
          localStorage.setItem("dark-mode", "on");
          body.classList.add("body");
        } else {
          localStorage.setItem("dark-mode", "off");
          body.classList.remove("body");
        }
      });
    </script>
  </body>
</html>
