* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


body {
    background-color: black;
    color: rgb(221, 158, 42);
}

a {
    text-decoration: none;
    color: orange;
}

ul {
    list-style: none;
}


/*Start of Nav Bar Styles Here*/

nav header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

nav header img {
    width: 200px;
}

nav header i {
    margin: 5px 0 0 0;
    font-size: 30px;
}

.hide {
    position: absolute;
    top: 40px;
    font-size: 30px;
    background-color: rgba(12, 11, 11, 0.856);
    width: 90vw;
    height: 80vh;
    margin: 20px 0 0 -900px;
    border-radius: 10px;
    transition: all 0.5s;
    transition-duration: 0.5s;
}

#list-icons {
    color: orange;
}

.show {
    position: absolute;
    top: 40px;
    font-size: 30px;
    background-color: rgba(12, 11, 11, 0.856);
    margin: 20px;
    border-radius: 10px;
    transition: all 0.5s;
    transition-duration: 0.5s;
}

.show li {
    margin: 50px;
}

.hide li {
    margin: 60px;
}

.show li:hover {
    transform: scale(1.1);
}

hr {
    border: none;
    height: 2px;
    margin: auto;
    background-color: orange;
    margin: 20px 0;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user h6 {
    font-size: 25px;
}

.user img {
    width: 30%;
    border-radius: 50%;
}

@media screen and (min-width: 500px) {

    .show {
        margin: 20px 0 0 0;
        width: 100vw;
    }

    .show li {
        margin: 50px 50px 50px 200px;
    }
}

@media screen and (min-width: 768px) {

    nav {
        margin: 10px 0 0 0;
        width: 100vw;
        display: flex;
    }

    .user {
       width: 12%;
    }

    .user img {
        width: 150%;
    }

    .user h6 {
        font-size: 20px;
    }

    nav header .bi-list {
        display: none;
    }

    .hide {
        position: relative;
        top: -50px;
        margin: 0;
        font-size: 20px;
        width: 0;
        height: 0;
        display: grid;
        grid-template-columns: repeat(3, 150px);
    }

    li {
        display: flex;
        gap: 10px;
        transition: all 0.5s;
    }

    li:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }
}

@media screen and (min-width: 992px) {
    nav {
        margin: 10px 0 0 0;
        width: 60vw;
        display: flex;
        justify-content: space-between;
    }
}

/*End of Nav Bar Styles Here*/

/*Start of Home page Styles*/

main header {
    margin: 50px 20px 20px 20px;
    height: 90vh;
}

main header h1 {
    margin: 0 0 20px 0;
}

main header a {
    margin: 0 0 0 100px;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    background-color: black;
    transition: all 0.5s;
}

main header a:hover {
    transition: all 0.5s;
    background-color: orange;
    color: black;
}

main h1 {
    text-align: center;
    font-size: 20px;
}

main img {
    width: 90%;
}

main .div-one {
    margin: 20px;
}

main .div-two {
    margin: 20px;
}

main .div-three {
    margin: 20px;
}

main .div-four {
    margin: 30px;
    padding: 5px;
}

main .div-four h1 {
    margin: 0 0 20px 0;
}


main .div-four a {
    margin: 0 0 0 100px;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    background-color: black;
}

.bounce {
    position: relative;
    animation: bounce 1s infinite;
}

.bounce:hover {
    animation-name: none;
    transition: all 0.5s;
}

@keyframes bounce {
    0%, 100% {
      top: 0;
    }
    50% {
      top: 20px;
    }
  }

@media screen and (min-width: 500px) {

    main header {
        margin: 10px 0 0 0;
        height: 90vh;
    }

    main header h1 {
        text-align: center;
    }

    main header a {
        margin: 0 0 0 200px;
    }

    main .div-four a {
        margin: 0 0 0 180px;
    }

    main header h2 {
        text-align: center;
    }

    main img {
        width: 80%;
    }
}

@media screen and (min-width: 600px) {
    main img {
        width: 60%;
        margin: 0 0 0 100px;
    }

    main header a {
        margin: 0 0 0 300px;
    }

    main .div-four a {
        margin: 0 0 0 280px;
    }
}

@media screen and (min-width: 768px) {
    main header {
        display: flex;
        flex-direction: column;
    }

    main header h2 {
        font-size: 40px;
    }

    main header div {
        display: flex;
        margin: 40px 0 0 0;
    }

    main header div h1 {
        margin: 70px 0 0 0;
    }

    main header img {
        width: 60%;
        margin: 10px;
    }

    main header a {
        margin: auto;
    }

    .div-one {
        margin: 40px 0 40px 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .div-one img {
        width: 50%;
    }

    .div-one h1 {
        font-size: 30px;
    }

    .div-two {
        margin: 40px 0 40px 0;
        display: flex;
    }

    .div-two img {
        width: 50%;
    }

    .div-two h1 {
        font-size: 30px;
    }

    .div-three {
        margin: 50px;
        display: flex;
        flex-direction: row-reverse;
    }

    .div-three h1 {
        font-size: 25px;
    }

    .div-three img {
        width: 50%;
    }

    .div-four h1 {
        font-size: 25px;
    }
}

@media screen and (min-width: 992px) {

    main {
        margin: 0 0 0 50px;
    }

    main header h2 {
        text-decoration: underline;
    }

    main header div img {
        width: 40%;
        margin: 0 0 0 50px;
    }

    main header div {
        margin: 80px 0 0 0;
    }

    main header div h1 {
        width: 60%;
        margin: 50px;
        height: 200px;
        box-shadow: inset 0.5px 0.5px 1px orange;
        font-size: 40px;
    }

    hr {
        display: none;
    }

    section {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-gap: 20px;
        justify-content: center;
    }

    .div-one {
        width: 100%;
        border: 2px solid orange;
        flex-direction: column;
        gap: 30px;
        box-shadow: 2px 2px 3px orange;
    }

    .div-one img {
        margin: 30px 0 0 90px;
    }


    .div-two {
        width: 100%;
        border: 2px solid orange;
        flex-direction: column;
        gap: 30px;
        box-shadow: 2px 2px 3px orange;
    }

    .div-two img {
        margin: 30px 0 0 90px;
    }

    .div-three {
        width: 100%;
        border: 2px solid orange;
        flex-direction: column;
        gap: 30px;
        box-shadow: 2px 2px 3px orange;
    }

    .div-three img {
        margin: 50px 0 0 50px;
        width: 70%;
    }

    .div-four {
        width: 100%;
        border: 2px solid orange;
        flex-direction: column;
        gap: 30px;
        box-shadow: 2px 2px 3px orange;
    }

    .div-four img {
        margin: 30px 0 0 90px;
    }

    .div-four a {
        display: none;
    }
}

/*End of Home page Styles*/

/* Start Of Footer styles */
footer {
    margin: 30px;
    text-align: center;
    font-size: 20px;
}

/* End Of Footer styles */

/* Start of Login Page Styles */

.login-div {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-div a {
    width: 90%;
    border: 2px solid orange;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    transition: all 0.5s;
}

.login-div a:hover {
    background-color: orange;
    color: black;
    transition: all 0.5s;
}

@media screen and (min-width: 768px) {
    .login-div a {
        width: 50%;
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
    .login-div a {
        width: 30%;
        font-size: 25px;
    }
}
 
/* End of Login Page Styles */


/* Start of Chat Styles */

.main {
    width: 80vw;
    display: flex;
}

.forms {
    position: absolute;
    top: 80px;
    left: -500px;
    transition: all 0.5s;
    width: 100vw;
    background-color: rgba(12, 11, 11, 0.856);
    border-radius: 5px;
    height: 80vh;
}

.show-forms {
    width: 120w;
    background-color: rgba(12, 11, 11, 0.856);
    position: absolute;
    top: 80px;
    left: 0;
    transition: all 0.5s;
    border-radius: 5px;
    height: 80vh;
}

.bars {
    display: flex;
    justify-content: space-between;
}

.bar-one, .bar-two {
    font-size: 30px;
}

.room-form {
    margin: 10px;
}

.room-form input {
    padding: 5px;
    border: 2px solid rgb(221, 158, 42);
    border-radius: 5px;
    background-color: black;
    outline: none;
    color: orange;
}

.room-form button {
    padding: 5px;
    border: 2px solid rgb(221, 158, 42);
    border-radius: 5px;
    background-color: black;
    color: black;
    margin: 5px 0 0 0;
    color: orange;
}

.rooms h2 {
    margin: 0 0 0 10px;
}

.join-form {
    margin: 10px;
}

.join-form input {
    padding: 5px;
    border: 2px solid rgb(221, 158, 42);
    border-radius: 5px;
    background-color: black;
    outline: none;
    color: orange;
}

.join-form button {
    padding: 5px;
    border: 2px solid rgb(221, 158, 42);
    border-radius: 5px;
    background-color: black;
    color: black;
    margin: 5px 0 0 0;
    color: orange;
}

.rooms h1 {
    margin: 0 0 0 10px;
}

.invited {
    margin: 0 0 0 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.del-id {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.title {
    width: 50%;
    font-size: 20px;
}


@media screen and (min-width: 768px) {
    .forms {
        top: 100px;
        position: absolute;
        left: -900px;
    }

    .show-forms {
        top: 100px;
        width: 100vw;
    }

    .bar-one, .bar-two {
        font-size: 40px;
    }

    .room-form input, .join-form input {
        width: 50vw;
        padding: 10px;
    }

    .room-form button, .join-form button {
        padding: 10px;
    }
    
}

@media screen and (min-width: 992px) {
    
}

/* End of Chat Styles */